body {
    font-family: 'Love Ya Like A Sister', cursive;
}
/*NAVBAR*/
.nav {
    background-color: black;
    color: deeppink;
    height: 80px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    
}

 .nav ul li {
    display: inline;
    padding: 10px 15px 10px;
    position: relative;
    
}
.nav ul li a{
    color: deeppink;
    text-decoration: none;
}
.head {
    padding: 10px 15px 10px;
}

/*CONTAINER*/
.container {
    background-color: black;
    height: 400px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    color: deeppink;
    margin-top: 30px;
    text-align: center;
}
/*IMAGE*/
.image {
    height: 80%;
    width: 80%;
}

.box1 {
    width: 50%;
}

.box2 {
    width: 50%;
    margin-right: 30px;
    margin-top: 30px;
}

.marquee {
    color: deeppink;
}

/*CENTER*/
.center {
    color: deeppink;
    text-align: center;
}

/*CONTAINER2*/
.container2 {
    background-color: black;
    color: deeppink;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    display: flex;
}

.square {
    width: 25%;
    height: 200px;
    margin-top: 30px;
    text-align: center;
}
.photos {
    width: 50%;
    height: 50%;
    border-radius: 100%;
    border: 2px solid deeppink;
}
.food-name {
    color: deeppink;
    margin-left: 30px;
}
footer {
    background-color: black;
    color: deeppink;
    height: 80px;
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

/*MEDIA QUERIES*/
@media only screen and (max-width:450px) {
  * {
    padding: 0;
    margin: 0;
  }
    body {
    width: 80%;
    font-family: 'Love Ya Like A Sister', cursive;
   }

   .nav {
    width: 100%;
   }
    .nav ul li a {
        display: none;
    }
    .container {
       display: block;
       height: 600px;

    }
    .box1, .box2 {
        margin: auto;
    }
    .container2 {
        display: block;
        height: 100%;
        width: 100%;
    }
    .square {
        margin: auto;
    }
    .photos {
        width: 80%;
        height: 50%;
        border-radius: 100%;
        border: 2px solid deeppink;
    }
}